
.elmt
{
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

h1

{
 
 color:white ;
 text-align: center;
 font-size: 80px;
 height: 100px;
 padding-top: 0px;
 padding-bottom: 50px;
}
h2
{
    color: black;
}
.imageflottante
{
    float: left;
    text-align: center;
}

nav a
{
    
    font-size: 12 em;
    font-weight: bold;
    color: black;
    padding-bottom: 3 px;
    text-decoration: none ;
}
nav li              
{
    display: block;
    float: left;
    padding: 0px 10px;
    width: 200px;
    height: 40px;
    border-right: rgb(216, 204, 204);
    line-height: 40px;
    margin: 0px;
    
    
}
h2
{
    text-align: center;
    color: black;
}
 .bloc
 {
     
     width: 800px;
     height: 2000px;
     background-color: white;
     text-align: center;
     align-content: center;
     margin: 150px;
     border: solid;
     border-color: rgb(130, 201, 231);
 }
 nav
 {
     widows: 100%;
     margin: 0 auto;
     background-color: white;
     position: sticky;
     top: 0px;
 }

 nav ul
 {
 list-style-type: none;
 }
 nav ul li
 {
     float: left;
     width: 25%;
     text-align: center;
 }
 nav ul ::after
 {
     content: " ";
     display: table;
     clear: both;
 
 }
 nav a
 {
     display: block;
     text-decoration: none;
     color: black;
     border-bottom: 2px solid white;
     padding: 10px 0px;
 }
 nav a:hover
 {
     color: #31AFB4;     
     border-bottom: 2px solid #31AFB4     ;
 }
 .sous
 {
     display: none;
     background-color: white;
     box-shadow: 0px 1px 2px #CCC;
 }
 nav > ul li:hover .sous
 {
     display: block;
 }
 .sous li
 {
     float: none;
     width: 100%;
     text-align: left;
 }
 .sous a
 {
     padding: 10px;
     border-bottom: none;
}
 .sous a:hover
 {
    border-bottom: none;
    background-color: rgba(200,200,200, 0.1);
 }
 .deroulant> a::after
 {
     content: "\0025BC";
     font-size: 12px;
     
 }
 
 .sous
 {
     display: none;
     box-shadow: 0px 1px 2px #CCC;
     background-color: white;
     position: absolute;
     width:100%;
     z-index: 1000;
     
 }
 nav ul li
 {
     float: left;
     width: 23%;
     text-align: center;
     position: relatiy   ve;
 }
 #titre-principal
 {
     background-color: #31AFB4     ;
     
 }

#milieu
{
    background-image: url(fondd.jpg);
    margin-top: 150px;
    padding-bottom: 450px;
}

.bare
{
   background-color: white; 
}

#div 
{
    margin-top: 0;
    margin-bottom: 40;
    
}

#titre-principal
{
    margin-bottom: 25px;
}
#menu
{
    margin-bottom: 40px;
    background-color: white;
}

.deroulant
{
    background-color: white;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    margin-left: 2000;
    margin-right: 2000;
    border: solid;
    border-color: rgba(250,250,250,0.8);
}
html
{
    background-image: url('./FOND.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} 

body
{
    margin:0 auto;
    padding-top:0px; 
}
#conteneur1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}